.discountBadge {
    position: absolute;
    top: 53px;
    left: 80px;
    &__value {
        position: absolute;
        top: 9px;
        left: 13px;
        color: white;
        font-weight: 600;
        font-size: 22px;
    }
}