.sortingTools {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
 
    @media (max-width: 1199px){
        margin-bottom: 20px;
        
    }
    

    &__selectName {
        color: #4D5969;
    }

    &__list {
        display: flex;
        padding-left: 0;
        margin: 0;
        flex-direction: row;

        @media (max-width: 1199px){
            width: 100%;
            flex-direction: row;
        }

        @media (max-width: 780px){
            flex-direction: column;
            
        }

    }

    &__element {
        margin-left: 30px;
        max-width: 152px;
        color: #2A7BE4;
       cursor: pointer;
        &_active {
            color: black;
        }
    }

}